.cmp_float_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-top: 10px;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    background: #ffffffbf;
    box-shadow: 0 4px 20px #00000014;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: bottom 0.3s;
    border: 1px solid #f4f6ec;
}

.cmp_float_item img,
.cmp_float_item svg {
    width: 24px;
    height: 24px;
}

.goback_top {
    display: none;
}

.goback_top:hover {
    opacity: 0.7;
}

.goback_top img {
    width: 24px;
    height: 24px;
}

@media (min-width: 640px) {
    .cmp_float_item {
        border: none;
    }
}