.cmp_float_item {
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ffffffbf;
    border-radius: 50%;
    box-shadow: 0 4px 20px #00000014;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 42px;
    justify-content: center;
    margin-top: 10px;
    transition: bottom .3s;
    width: 42px
}

.cmp_float_item img,
.cmp_float_item svg {
    height: 24px;
    width: 24px
}

.goback_top {
    display: none
}

.goback_top:hover {
    opacity: .7
}

.goback_top img {
    height: 24px;
    width: 24px;
}

@media(max-width: 649.98px) {
    .cmp_float_item {
        border: 1px solid #f4f6ec
    }

    .goback_top {
        display: none
    }
}

@media(min-width: 650px) and (max-width:1023.98px) {
    .goback_top {
        display: none
    }
}