.oc_container {
    position: relative;
    width: 100%;
}

.oc_subcontents {
    max-width: 1312px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .oc_subcontents {
        padding: 0 64px;
    }
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
    .oc_subcontents {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 650px) {
    .oc_subcontents {
        padding: 0 1rem;
    }
}