.termsMain {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.termsCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.termsTitle {
  width: 80vw;
  max-width: 68.13rem;
  text-align: center;
}

.termsTitle p {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.termsSection {
  width: 80vw;
  max-width: 68.13rem;
  margin-top: 6rem;
}

.termsSectionTitle {
  font-size: 1.25rem;
  font-family: 'OPPOSans-Medium';
  line-height: 1.88rem;
}

.termsSectionContent {
  margin-top: 1.25rem;
  counter-reset: list-counter;
}

.termsSectionContent li {
  position: relative;
  font-size: 1rem;
  font-variation-settings: 'wght' 550;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.termsSectionContent li:before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  position: absolute;
  left: 0;
  width: 2rem;
}

@media (min-width: 768px) {
  .termsMain {
    margin-top: 6rem;
    margin-bottom: 10rem;
  }

  .termsTitle {
    width: 70vw;
  }

  .termsSection {
    width: 70vw;
    margin-top: 6.5rem;
  }

  .termsTitle p {
    font-size: 4rem;
    line-height: 4.75rem;
  }
}


@media (min-width: 1024px) {
  .termsMain {
    margin-top: 7rem;
    margin-bottom: 11rem;
  }

  .termsTitle {
    width: 68.13rem;
  }

  .termsSection {
    width: 68.13rem;
    margin-top: 7.5rem;
  }

  .termsTitle p {
    font-size: 5rem;
    line-height: 6rem;
  }
}


@media (min-width: 1280px) {
  .termsTitle p {
    font-size: 5.75rem;
    line-height: 6.88rem;
  }
}