.oc_container {
    width: 100%;
    position: relative;
}

.main_banner {
    position: relative;
    background: url(/imgs/imagine-if_5120-1280.jpg);
    background-size: cover;
    width: 100%;
    height:100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .oc_container {
        min-height: auto;
    }
}