@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OPPOSans-Medium";
  src: url("../../public/fonts/otf/OPPOSans-Medium.otf") format('Opentype');
  font-display: swap;
}

@font-face {
  font-family: "OPPOSans-Regular";
  src: url("../../public/fonts/otf/OPPOSans-Regular.otf") format('Opentype');
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  font-family: "OPPOSans-Regular";
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

em,
i,
strong {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

#launcher,
.grecaptcha-badge {
  display: none !important;
}

.oc_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}