.itemsBlock {
  margin-bottom: 5rem;
  padding: 0;
}

.itemsTitle {
  margin-bottom: 3rem;
}

.itemsTitle p {
  position: relative;
  display: inline-block;
  font-family: 'OPPOSans-Bold';
  font-size: 30px;
}

.itemsTitle p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60%;
  border-bottom: 2px solid #000;
}

@media (min-width: 768px) {
  .itemsBlock {
    margin-bottom: 5rem;
  }

  .itemsTitle {
    margin-bottom: 4rem;
  }

  .itemsTitle p {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .itemsTitle p {
    font-size: 34px;
  }
}

@media (min-width: 1280px) {
  .itemsTitle p {
    font-size: 36px;
  }
}