.claim_process {
  position: relative;
  background-color: white;
  z-index: 2;
}

.pro_title {
  font-family: 'OPPOSans-Bold';
  text-align: center;
  margin-bottom: 2rem;
}

.pro_content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 3rem;
}

.pro_step {
  flex: 1;
  min-width: 0;
}

.feature_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  border-radius: 40px;
}

.feature_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.pro_words {
  flex: 1;
}

.pro_h4 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.pro_words {
  font-size: 14px;
  line-height: 24px;
  color: #999;
}

.showButtonSl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
}

.showButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.showButton p {
  font-size: 14px;
}

.disabled {
  color: #afafaf;
  cursor: unset;
}

@media (min-width: 768px) {
  .pro_words {
    font-size: 16px;
  }

  .pro_title {
    margin-top: 2rem;
  }

  .showButton p {
    font-size: 16px;
  }
}


@media (min-width: 1024px) {
  .claim_process {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .pro_title {
    font-size: 36px;
  }
}


@media (min-width: 1280px) {
  .claim_process {
    position: unset;
    z-index: unset;
    margin-top: auto;
    margin-bottom: auto;
  }

  .pro_title {
    font-size: 40px;
  }

  .pro_content {
    gap: 16px;
  }

  .feature_box {
    padding: 16px;
  }

  .feature_icon {
    height: 44px;
  }
}