.live_chat_wrap {
    z-index: 2;
    opacity: 1;
    color: rgba(0, 0, 0, 0.55);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 75vh;
    overflow: hidden;
    transform: translateY(0);
    transition: all 0.36s cubic-bezier(0.48, 0.04, 0.52, 0.96);
}

.group_list {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 24px 24px 0 0;
    max-height: 75vh;
    overflow-y: auto;
    padding: 0;
}

.group_item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.group_item:first-child {
    padding-top: 16px;
}

.group_item:last-child {
    padding-bottom: 106px;
}

.item_box {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 56px;
    padding: 0 56px;
    box-sizing: border-box;
}

.sub_list {
    padding: 0 16px 8px 56px;
}

.chat_icon {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity 300ms;
}

.ft_body_2_1 {
    color: rgba(0, 0, 0, 0.95);
    font-size: 16px;
    line-height: 24px;
}

.live_chat {
    cursor: pointer;
}

.subtitle {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.phone_number {
    border-bottom: 1px solid;
}

/* md >= 768 */
@media (min-width: 768px) {
    .live_chat_wrap {
        bottom: auto;
        width: 328px;
        max-height: none;
        overflow: visible;
        transform: translateY(-100%);
    }

    .group_list {
        border-radius: 24px;
        max-height: none;
        overflow-y: visible;
        padding: 16px 0;
    }

    .group_item:first-child {
        padding-top: 0;
    }

    .group_item:last-child {
        padding-bottom: 0;
    }
}