.contact_pop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-top: 10px;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    background: #ffffffbf;
    box-shadow: 0 4px 20px #00000014;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: bottom 0.3s;
    right: 16px;
}

.contact_pop * {
    box-sizing: border-box;
}

.contact_pop_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: bottom 0.3s;
    border: 1px solid #f4f6ec;
}

.contact_pop_icon img {
    display: block;
    width: 24px;
    height: 24px;
}

.chat_pop_box {
    position: absolute;
    bottom: calc(100% + 12px);
    width: 284px;
    padding: 20px 0 30px;
    opacity: 0;
    transform: translateY(10px);
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ededed;
}

@media (min-width: 640px) {
    .contact_pop {
        right: 24px;
    }
}

@media (min-width: 768px) {
    .contact_pop_icon {
        border: none;
    }
}

@media (min-width: 1024px) {
    .contact_pop_icon {
        width: 42px;
        height: 42px;
    }
}