.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 3;
  overflow: auto;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  height: 32rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #fff;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalTitle {
  font-size: 2rem;
}

.conForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.conForm label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 1px;
}

.conForm .search {
  position: relative;
  padding: 8px 12px;
  border-radius: 10px;
  background: #fafafa !important;
}

.conForm .search .search_box {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

.conForm .search .search_box .conIcon {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  padding-right: 7px;
  border-right: 1px solid rgba(0, 0, 0, 0.55);
}

.conForm .search .search_box svg {
  width: 24px;
  height: 24px;
  opacity: 0.55;
  cursor: default;
}

.conForm .search .search_box input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 5px;
  border: 0;
  outline: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.95);
  font-size: 18px;
  letter-spacing: 1px;
}

.conForm_track {
  height: auto;
  margin: 1rem 0;
  padding: 0;
}

.search_normal {
  border: 2px solid #dcdcdc;
}

.search_red {
  border: 2px solid red;
}

.tipText {
  position: absolute;
  top: 2rem;
  left: 9.5rem;
  z-index: 1;
  width: 21rem;
  padding: 4px 8px;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  letter-spacing: 1px;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.tipText.visible {
  visibility: visible;
}

.validatetick {
  color: #077307;
}

.validateError {
  position: absolute;
  margin-top: 5px;
  margin-left: 1rem;
  color: red;
  letter-spacing: 1px;
}

.datepicker {
  width: 100%;
}

.conBtn {
  display: flex;
  justify-content: space-around;
}

.conBtn button {
  min-width: 120px;
  height: 40px;
  margin: 12px 0;
  padding: 0 20px;
  border: 1px solid #000;
  border-radius: 36px;
  font-size: 16px;
  font-variation-settings: "wght" 750;
  transition: all 0.24s cubic-bezier(0.48, 0.04, 0.52, 0.96);
}

@media (hover: hover) and (pointer: fine) {
  .conBtn button:hover {
    color: #fff;
    background: rgb(0, 0, 0);
  }
}

.conBtn button:active {
  color: #fff;
  background: #000;
}

.modal_track {
  max-width: 600px;
  height: 24rem;
}

@media (min-width: 768px) {
  .modal {
    height: 26rem;
    gap: unset;
  }

  .modalTitle {
    font-size: 27px;
  }

  .conForm {
    gap: 2rem;
  }

  .conForm label {
    font-size: 20px;
  }

  .conBtn button {
    min-width: 144px;
    margin-top: 2rem;
  }

  .tipText {
    left: 12.5rem;
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .modalOverlay {
    padding-top: 8rem;
  }

  .tipText {
    left: 14rem;
    width: 26rem;
  }
}

@media (min-width: 1280px) {
  .modalOverlay {
    padding-top: 10rem;
  }

  .tipText {
    left: 16rem;
    width: 28rem;
  }
}