.item_span {
    display: block;
    position: relative;
    padding: 0 12px;
    font-family: 'OPPOSans-Regular';
    font-variation-settings: 'wght' 750;
    font-size: 14px;
    line-height: 52px;
    white-space: nowrap;
    color: #737373;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.4, 0.8, 0.74, 1);
}

.item_span:hover {
    color: #0d0d0d;
}

.item_span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transform: translateX(15%);
    transition: all 0.2s cubic-bezier(0.4, 0.8, 0.74, 1);
}

.item_span:hover::after {
    left: 0;
    width: 80%;
}