.fill {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 1.5px;
    background: #000;
    color: #000;
    transform: translate(-50%, -50%);
}

.fill::before,
.fill::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 18px;
    height: 1.5px;
    background: #000;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.fill::before {
    top: -6px;
}

.fill::after {
    bottom: -6px;
}

.rotate {
    background: rgba(0, 0, 0, 0) !important;
}

.rotate::before {
    top: 0;
    transform: translateX(-50%) rotateZ(45deg);
    transition: all 0.3s;
}

.rotate::after {
    bottom: 0;
    transform: translateX(-50%) rotateZ(-45deg);
    transition: all 0.3s;
}

.header_menu {
    position: relative;
    top: 0;
    z-index: 50;
    height: calc(100vh - 50px);
    background: #fff;
    transition: all 0.24s cubic-bezier(0.26, 0, 0.6, 0.2);
}

.header_menu_box {
    position: relative;
    height: calc(100vh - 50px);
    margin: 0 24px;
    overflow-y: auto;
    scrollbar-width: none;
    background: #fff;
}

.second_nav_title {
    padding: 16px;
    font-family: 'OPPOSans-Regular';
    font-variation-settings: 'wght' 750;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.95);
}